<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daily"> 
    <insert id="insertDaily" parameterType="com.dev.smtm.domain.DailyVo">
    	INSERT INTO daily (staff_id, start_time, end_time, over_time)
    	VALUES(#{staff_id},#{start_time},#{end_time},#{over_time})
    </insert>
    
    <select id="checkDailyTime" parameterType="com.dev.smtm.domain.DailyVo" resultType="com.dev.smtm.domain.DailyVo">
    	SELECT daily_seq, staff_id, start_time, end_time, over_time
    	FROM daily
    	WHERE
    		staff_id = #{staff_id} AND
    		date_format(start_time, '%Y%m') = #{start_time}
    </select>
    
	<delete id="deleteDailyInfo" parameterType="com.dev.smtm.domain.DailyVo">
    	DELETE FROM daily
    	WHERE daily_seq = #{daily_seq} AND staff_id = #{staff_id}
    </delete>
    
    <update id="updateStartTime"  parameterType="com.dev.smtm.domain.DailyVo">
    		update staff set status=1
		where staff_id=#{staff_id}
    </update>
</mapper>